/* styles.css */
body {
    font-family: 'Inter', sans-serif;
  }
  
  .sidebar {
    width: 250px;
  }
  
  .sidebar a {
    color: #ccc;
  }
  
  .sidebar a.active {
    color: #fff;
  }
  
  .sidebar a:hover {
    color: #fff;
  }
  
  .sidebar-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
  }
  